body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: $title;
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}