.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding-top: 25px;

  &__logo {
    margin-right: 40px;
  }

  &__logo-img {
    width: 100%;
    max-width: 45px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &__btn {
      display: none;
    }

    &__items {
      display: flex;
      margin-right: auto;
    }

    &__item {
      position: relative;
      margin-right: 30px;
    }

    &__item-link {
      position: relative;
      padding-right: 28px;
      font-weight: 500;
      color: $title;

      &:hover {
        color: $accent;
        transition: all 0.3s;
      }
    }

    &__item-link--active {
      transition: all 0.3s;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 6px;
        width: 14px;
        height: 9px;
        background-image: url("../../images/icons/arrowdown.svg");
        background-repeat: no-repeat;
        transition: all 0.3s;
      }

      &:hover::after {
        transform: rotate(-90deg);
      }
    }

    &__user-items {
      display: flex;
      align-items: center;
    }

    &__user-img {
      width: 32px;
      height: 32px;
    }

    &__user-item {
      &:not(:first-child) {
        margin-left: 32px;
      }
    }
  }

  &--active {
    padding: 5px 0;
    background-color: rgba($accent, 0.9);

    .menu__item-link:hover {
      color: $wh;
    }
  }
}
