.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding-top: 25px;

  &__logo-img {
    margin-right: 40px;
    max-width: 75px;
    max-height: 30px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &__items {
      display: flex;
      margin-right: auto;
    }

    &__item {
      position: relative;
      margin-right: 30px;
    }

    &__item-link {
      position: relative;
      padding-right: 28px;
      color: $title;

      @extend %gilroy-500;

      &:hover {
        color: #e89f71;
        transition: all 0.3s;

      }
    }

    &__item-link--active {

      transition: all 0.5s;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 6px;
        width: 14px;
        height: 9px;
        background-image: url("../../images/icons/arrowdown.svg");
        background-repeat: no-repeat;
        transition: all 0.3s;

      }

      &:hover::after {
        transform: rotate(-90deg);
      }
    }

    &__user-items {
      display: flex;
      align-items: center;
    }

    &__user-item {
      &:not(:first-child) {
        margin-left: 32px;
      }
    }
  }

  &--active {
    padding: 5px 0;
    background-color: rgba(#e89f71, 0.9);

    .menu__item-link:hover {
      color: $wh;
    }
  }
}
